<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <h2>User Registration</h2>
    <form method="post">
        {% csrf_token %}
        
        <div class="input-container">
            {{ form.username }}
            <label for="{{ form.username.id_for_label }}">Username</label>
        </div>
        
        <div class="input-container">
            {{ form.email }}
            <label for="{{ form.email.id_for_label }}">Email</label>
        </div>
        
        <div class="input-container">
            {{ form.password1 }}
            <label for="{{ form.password1.id_for_label }}">Password</label>
        </div>
        
        <div class="input-container">
            {{ form.password2 }}
            <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
        </div>
        
        <button type="submit">Register</button>
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </form>
</body>
</html>